# Grafana données internes
monitoring/grafana/*.db
monitoring/grafana/png/
monitoring/grafana/pdf/
monitoring/grafana/csv/
monitoring/grafana/unified-search/

# Logs
*.log
monitoring/logs/

# Docker
docker-compose.override.yml

# Environnements
.env
